.td-container {
    display: flex;
    width: 90%;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    .placeholder{
        display: flex;
        width: 300px;
        margin: 10px;
        justify-content: space-around;
        align-items: center;
        font-size: 22px;
        background: limegreen;
        color: 	white;
        border-radius: 10px;

        &:hover{
            cursor: pointer;
        }
    }
}
