.td-box{
    width: 300px;
    background: firebrick;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    .title{
        margin-top: 10px;
        color: white;
        font-size: 22px;
        cursor: pointer;
    }

    .content{
        margin: 10px;
        height: 200px;
        width: 90%;
        border-radius: 10px;
        text-align: left;
        padding: 10px;
        cursor: pointer;
    }

    .buttons{
        font-size: 22px;
        color: white;
        margin-bottom: 10px;
    }
}